<div class='options'>
  <label>
    <input type='checkbox' checked={{showSortIndicator}} {{on "click" this.changeSortIndicator}}>
    Show Sort Indicator
  </label>
  <label>
    <input type='checkbox' checked={{showResizeHandle}} {{on "click" this.changeResizeHandler}}>
    Show Resize Handle
  </label>
</div>

<div class="container">
  <EmberTable style="height: 600px; width: 850px; background-color: lightgrey" as |t|>
    <t.head 
    @columns={{this.columns}} 
    @sorts={{this.sorts}}
    @onUpdateSort={{action (mut this.sorts)}}
    as |h| >
      <h.row  as |r|>
        <r.cell as |column|>
         {{column.name}}
        </r.cell>
      </h.row>
    </t.head>

    <t.body 
    @rows={{this.rows}}
    @onSelect={{action (mut this.selection)}}
    @selection={{this.selection}}
    style="text-align: center"
    as |b|>
      <b.row 
      as |r|>
        <r.cell as |value|>
        {{value}}
        </r.cell>
      </b.row>
    </t.body>
  </EmberTable>
</div>