<div class='options'>
  <button type="button"  {{on "click" this.changeTransferIndicator}}>
    Transfered
  </button> 
  <button type="button"  {{on "click" this.changeNotTransferIndicator}}>
    Not Transfered
  </button> 
  <button type="button" {{on "click" this.changeNotReconcileIndicator}}>
    Not Reconciled
  </button> 
  <button type="button" {{on "click" this.changeAllIndicator}}>
    All
  </button> 
</div>

<div class="container">
  <EmberTable style="height: 600px; width: 1000px; background-color: lightgrey" as |t|>
    <t.head 
    @columns={{this.columns}} 
    @sorts={{this.sorts}}
    @onUpdateSorts={{action (mut this.sorts)}}
    as |h| >
        <h.row  as |r|>
          <r.cell as |column|>
                {{column.name}}
          </r.cell>
        </h.row>
    </t.head>

    <t.body 
    @rows={{this.rows}}
    @onSelect={{action (mut this.selection)}}
    @selection={{this.selection}}
    style="text-align: center"
    as |b|>
        <b.row 
        as |r|>
          <r.cell as |value|>
          {{value}}
          </r.cell>
        </b.row>
    </t.body>
  </EmberTable>
</div>