<UkCard @size="large" as |head|>
  <head.header>
    <UkButton type="button" @color="primary" @on-click={{this.transferHandler}}>
      Transfer
    </UkButton> 
    <UkButton type="button"  @color="primary" @on-click={{this.reconcileHandler}}>
      Reconcile
    </UkButton> 
    <UkButton type="button"  @color="primary" @on-click={{this.searchHandler}}>
      Find
    </UkButton> 
    <label>display: </label>
    <UkButton type="button"  @color="secondary" @on-click={{this.changeTransferIndicator}}>
      Transfered
    </UkButton> 
    <UkButton type="button"  @color="secondary" @on-click={{this.changeNotTransferIndicator}}>
      Not Transfered
    </UkButton> 
    <UkButton type="button" @color="secondary" @on-click={{this.changeNotReconcileIndicator}}>
      Not Reconciled
    </UkButton> 
    <UkButton type="button" @color="secondary" @on-click={{this.changeAllIndicator}}>
      All
    </UkButton> 
  </head.header>

<card.body>
  <div>
    <EmberTable style="height: 460px" as |t|>
      <t.head 
      @columns={{this.columns}} 
      @sorts={{this.sorts}}
      @onUpdateSorts={{action (mut this.sorts)}}
      as |h| >
          <h.row  as |r|>
            <r.cell as |column|>
                  {{column.name}}
            </r.cell>
          </h.row>
      </t.head>

      <t.body 
      @rows={{this.rows}}
      @onSelect={{action (mut this.selection)}}
      @selection={{this.selection}} as |b|>
          <b.row as |r|>
            <r.cell as |value column row|>
            {{#if column.cellComponent}}
              <column.cellComponent @trigger={{value}} @invoiceNumber={{row.invoiceNumber}} @dict={{this.invoiceNumberId}}/>
            {{else}}
              {{value}}
            {{/if}}
            </r.cell>
          </b.row>
      </t.body>
    </EmberTable>
  </div>
</card.body>
<card.footer>
  {{#if this.success}}
    <FaIcon @icon="check-circle" />
  {{/if}}
  {{#if this.haveIssue}}
    <FaIcon @icon="frown-open" />
  {{/if}}
  {{#each this.errorList as |i|}}
    <div>
      <b>Invoice No. {{i.invoiceVO.invoiceNumber}} {{this.method}}</b>
    </div>
    <div>{{i.errorMessage}}</div>
  {{/each}}
  <div></div>
  {{#each this.errorReList as |i|}}
    <div>
      <b>Invoice No. {{i.invoiceVO.invoiceNumber}} was reconciled found not matching</b>
    </div>
  {{/each}}
</card.footer>
</UkCard>

<UkCard style="margin-top: 15px">
    <div>
    <UkButton type="button"  @color="primary" @on-click={{this.connectQB}}>
      Connect to Quickbooks
    </UkButton> 
    <UkButton type="button"  @color="primary" @on-click={{this.connectXero}}>
      Connect to Xero
    </UkButton> 
  </div>
  <div>
    {{this}}
  </div>
</UkCard>